<%-include("../includes/header")%>


<%let name = user.firstName;
    let welcomeMessage;

    if(!user.isApproved)
        welcomeMessage = "your account is currently being reviewed and will soon be approved.<br />We will notify about it via either email or, phone.";
    else if(user.isSubscriptionExpired)
        welcomeMessage = "Your subscription has expired, <strong>Upgrade your Account</strong>";
    else if(user.isApproved && !user.isSubscriptionExpired)
        welcomeMessage = "here is the list of notes available to you.";

%>

<main class="mainContainer" id="homeScreen">
    <div class="mainContainer__homeText">
        <h3><span class="color--brand"><%=name%></span>, <%-welcomeMessage%></h3>
    </div>
    <%if(user.isApproved && !user.isSubscriptionExpired){%>

    <div id="homeScreen__subjectsContainer">
        <h2>Available Subjects</h2>
    </div>


    <%if(savedNotes.length){%>
    <div id="homeScreen__savedNotes">
        <h2>Saved Notes</h2>
        <%-savedNotes.map((note)=> {
                return `
                <input type="hidden" value="${note}" class="savedNoteId">
            `}).join("")%>
    </div>
    <%}}%>
</main>

<%-include("../includes/footer")%>